rules_version = '2'

service firebase.storage {
	match /b/{bucket}/o {
		match /hackathons/{hackathon} {
			allow read
		}

		match /prizes/{prize} {
			allow read
		}
	}
}
